header {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0;
    align-items: center;
    display: flex;
    color: #fff;
  }
  .SideNav {
    display: none;
  }
  .navMenu {
    display: flex;
    padding: 0;
    li {
      list-style: none;
      text-decoration: none;
      position: relative;
      flex-grow: 1;
      text-align: center;
      a {
        text-decoration: none;
        padding-right: 10px;
        color: #000;
      }
      .dropdownContent {
        display: none;
        position: absolute;
        padding: 0;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        li {
          a {
            padding: 5px 0;
            display: inline-block;
            color: #fff;
          }
          .nestedContent {
            display: none;
            padding: 0 0 0 10px;
            top: 5px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            li {
              a {
                padding: 5px 0;
                display: inline-block;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
.logoDiv {
  display: flex;
  justify-content: space-between;
}
header .navMenu li:hover .dropdownContent {
  display: block;
}
header .navMenu .dropdownContent li:hover > .nestedContent {
  display: block;
  position: absolute;
  right: -300px;
  left: 170px;
}
.logo {
  height: 100px;
  display: inline-block;
}
.dropdownContent,
.nestedContent {
  background: #383085;
  border: 4px solid #383085;
  border-radius: 4px;
}
.dropdownContent:after,
.dropdownContent:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dropdownContent:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #383085;
  border-width: 10px;
  margin-left: -36px;
}
.dropdownContent:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #383085;
  border-width: 10px;
  margin-left: -36px;
}

.nestedContent:after,
.nestedContent:before {
  right: 100%;
  top: 30%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.nestedContent:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #383085;
  border-width: 10px;
  margin-top: -36px;
}
.nestedContent:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #383085;
  border-width: 10px;
  margin-top: -36px;
}

.bar {
  display: block;
  height: 5px;
  width: 50px;
  background-color: #383085;
  margin: 10px auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.nav-right {
  position: fixed;
  right: 40px;
  top: 20px;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: #fff;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.button.true .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(15px) rotateZ(45deg);
}

.button.true .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.true .middle {
  width: 0;
}

@media only screen and (max-width: 768px) {
  header {
    .SideNav {
      display: block;
      text-align: right;
      padding: 10px 20px;
    }
    .navMenu {
      display: none;
      li {
        padding-bottom: 10px;
      }
      &.true {
        display: block;
      }
      .dropdownContent {
        display: none;
        &.show {
          display: block;
          position: static;
        }
        &.hide {
          display: none !important;
        }
      }
    }
  }
  .dropdownContent:after,
  .dropdownContent:before {
    display: none;
  }
  header .navMenu .dropdownContent li:hover > .nestedContent {
    right: 0;
    left: 60%;
    z-index: 2;
  }
  .nestedContent:after,
  .nestedContent:before {
    border-right-color: #fff;
  }
}
