header {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0;
    align-items: center;
    display: flex;
    color: #fff;
  }
  .SideNav {
    display: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul li {
    display: block;
    position: relative;
    float: left;
  }
  li ul {
    display: none;
  }

  ul li a {
    display: flex;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    img {
      width: 22px;
      height: 22px;
      margin-left: 8px;
    }
    img.hovermenu {
      display: inline-block;
    }
    img.hovermenuactive {
      display: none;
    }
    &:hover > img.hovermenu {
      display: none;
    }
    &:hover > img.hovermenuactive {
      display: inline-block;
    }
  }

  li:hover > ul {
    display: block;
    position: absolute;
    z-index: 1;
  }

  li:hover li {
    float: none;
  }

  .main-navigation li ul li {
    border-top: 0;
  }
  ul ul ul {
    left: 100%;
    top: 0;
  }
  ul:before,
  ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  ul:after {
    clear: both;
  }
  .navMenu {
    li.navmenuList {
      a {
        color: #000;
      }
      &:hover {
        box-shadow: 2px 2px 5px 5px #9992d7;
      }
    }
  }
  .dropdownContent {
    li {
      a {
        color: #000;
      }
      &:hover {
        box-shadow: 2px 2px 5px 5px #9992d7;
      }
    }
  }
  .nestedContent {
    li {
      a {
        color: #000;
      }
    }
  }
}
.logoDiv {
  display: flex;
  justify-content: space-between;
  border-bottom: 8px solid #feed01;
  padding: 0 20px;
  p {
    margin: 0;
    font-size: 16px;
    font-weight: 100;
    padding-top: 5px;
  }
}
.logo {
  height: 100px;
  display: inline-block;
}
.dropdownContent,
.nestedContent {
  background: #f2f1fa;
  border-radius: 2px;
}
// .dropdownContent:after,
// .dropdownContent:before {
//   bottom: 100%;
//   left: 50%;
//   border: solid transparent;
//   content: "";
//   height: 0;
//   width: 0;
//   position: absolute;
//   pointer-events: none;
// }

// .dropdownContent:after {
//   border-color: rgba(136, 183, 213, 0);
//   border-bottom-color: #383085;
//   border-width: 10px;
//   margin-left: -36px;
// }
// .dropdownContent:before {
//   border-color: rgba(194, 225, 245, 0);
//   border-bottom-color: #383085;
//   border-width: 10px;
//   margin-left: -36px;
// }

// .nestedContent:after,
// .nestedContent:before {
//   right: 100%;
//   top: 30%;
//   border: solid transparent;
//   content: "";
//   height: 0;
//   width: 0;
//   position: absolute;
//   pointer-events: none;
// }

// .nestedContent:after {
//   border-color: rgba(136, 183, 213, 0);
//   border-right-color: #383085;
//   border-width: 10px;
//   margin-top: -36px;
// }
// .nestedContent:before {
//   border-color: rgba(194, 225, 245, 0);
//   border-right-color: #383085;
//   border-width: 10px;
//   margin-top: -36px;
// }

.bar {
  display: block;
  height: 5px;
  width: 50px;
  background-color: #383085;
  margin: 10px auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.nav-right {
  position: fixed;
  right: 40px;
  top: 20px;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: #fff;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.button.true .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(15px) rotateZ(45deg);
}

.button.true .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.true .middle {
  width: 0;
}

.bilingualMenu {
  li {
    a img.logo {
      width: 30px;
      height: 30px;
    }
    ul {
      left: -15px;
      background: #f2f1fa;
      border-radius: 2px;
      box-shadow: 2px 2px 5px 5px #7e393a;
      z-index: 1;
      a{
        padding: 5px 10px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    .SideNav {
      display: block;
      text-align: right;
      padding: 10px 20px;
    }
    .navMenu {
      display: none;
      li {
        padding-bottom: 10px;
      }
      &.true {
        display: block;
      }
      .dropdownContent {
        display: none;
        &.show {
          display: block;
          position: static;
        }
        &.hide {
          display: none !important;
        }
      }
    }
  }
  .dropdownContent:after,
  .dropdownContent:before {
    display: none;
  }
  header .navMenu .dropdownContent li:hover > .nestedContent {
    right: 0;
    left: 60%;
    z-index: 2;
  }
  .nestedContent:after,
  .nestedContent:before {
    border-right-color: #fff;
  }
  .bilingualMenu {
    .dropdownContent:after,
    .dropdownContent:before {
      display: block;
    }
  }
}
