header,
nav {
  display: flex;
  align-items: center;
}
.navMenu {
  display: flex;
}
.navMenu li {
  list-style: none;
  text-decoration: none;
  position: relative;
}
.navMenu li a {
  text-decoration: none;
  padding-right: 10px;
}
.dropdownContent,
.nestedContent {
  display: none;
  padding: 0;
}
.nestedContent {
  padding-left: 10px;
}
.nestedContent li a,.dropdownContent li a {
    padding: 5px 0;
}
header .navMenu li:hover .dropdownContent {
  display: block;
  position: absolute;
  left: 10px;
  right: -150px;
}
header .navMenu .dropdownContent li:hover .nestedContent {
  display: block;
  /* position: absolute; */
}
nav .navMenu li:hover .dropdownContent {
  display: block;
  padding-left: 10px;
}
nav .navMenu {
  flex-direction: column;
}
.logo {
  height: 135px;
  display: inline-block;
}
